<th:block th:include="/_partials/header.html"></th:block>
    
<h1>Liste des livres
    <a href="/admin/livres/ajouter" class="btn btn-primary">
        <i class="fa fa-plus"></i> Ajouter
    </a>
</h1>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <i class="fa fa-cogs"></i>
                <th>ID</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Auteur</th>
                <th>Genres</th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="livre: ${livres}">
            <td>
                <a th:href="@{/admin/livres/{id}(id=${livre.id})}">
                    <i class="fa fa-book"></i>
                </a>
                <a th:href="@{/admin/livres/{id}/modifier(id=${livre.id})}">
                    <i class="fa fa-edit"></i>
                </a>
                <a th:href="@{/admin/livres/{id}/supprimer(id=${livre.id})}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            <td th:text="${livre.id}">identifiant</td>
            <td th:text="${livre.titre}">titre</td>
            <td th:text="${livre.synopsis}">synopsis</td>
            <td th:text="${livre.auteur}"></td>
            <td>
                <span th:each="genre, iteration: ${livre.genres}" 
                      th:text="${iteration.last} ? ${genre.libelle} : ${genre.libelle + ', '}"></span>

            </td>
        </tr>
    </tbody>
</table>

<th:block th:include="/_partials/footer.html"></th:block>