<!DOCTYPE html>
<html lang="fr" xmlns:th="https://thymeleaf.org">

    <th:block
            th:include="global/head.html">
    </th:block>

<body>
    <th:block
            th:include="global/header.html">
    </th:block>

    <h1 class="text-center text-xl my-10">Nos Livres</h1>

    <div class="container mx-auto flex justify-end">
        <a class="btn btn-outline">Ajouter</a>
    </div>

    <div class="overflow-x-auto container mx-auto">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="capitalize">id</th>
                <th class="capitalize">titre</th>
                <th class="capitalize">résumé</th>
                <th class="capitalize">actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td></td>
                    <th th:text="${book.id}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.synopsis}"></td>
                    <td>
                        <a th:href="@{delete/{id}(id=${book.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/></svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>