<!DOCTYPE html>
<html lang="fr" xmlns:th="https://thymeleaf.org">

<th:block
        th:include="global/head.html">
</th:block>

<body>
<th:block
        th:include="global/header.html">
</th:block>

<main class="min-h-[calc(100dvh-68px)] container mx-auto flex justify-center">
    <div>
        <article class="rounded-lg p-4 shadow-sm shadow-indigo-100" href="#">
            <img
                    alt=""
                    class="h-56 w-full rounded-md object-cover"
                    src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
            />

            <div class="mt-2">
                <dl>
                    <div>
                        <dd class="text-sm text-gray-500" th:text="'Nom du livre :' + ' ' + ${book.title}"></dd>
                    </div>

                    <div>
                        <dd class="font-medium" th:text="'Écrit par :' + ' ' + ${author.firstName}"></dd>
                    </div>
                </dl>
            </div>
        </article>
    </div>

</main>


</body>
</html>