<!DOCTYPE html>
<html lang="fr" xmlns:th="https://thymeleaf.org">

<th:block
        th:include="global/head.html">
</th:block>

<body>
<th:block
        th:include="global/header.html">
</th:block>

<section class="min-h-[calc(100dvh-68px)] flex justify-center items-center">
    <form class="relative flex text-gray-800 flex-col justify-center py-6 sm:py-12" method="POST" th:action="@{/livre/ajouter}">
        <div class="relative py-3 sm:w-96 mx-auto text-center">
            <!-- Create -->
            <span class="text-2xl font-light" th:if="${action == 'create'}">Ajouter un livre</span>
            <!-- Edit -->
            <span class="text-2xl font-light" th:text="'Modifier ' + ${book.title}"
                  th:unless="${action == 'create'}"></span>
            <div class="mt-4 bg-white shadow-md rounded-lg text-left">
                <div class="h-2 bg-gray-800 rounded-t-md"></div>
                <div class="px-8 py-6 ">
                    <!-- Book Name -->
                    <div>
                        <!-- Create -->
                        <label class="block font-semibold" for="name">Nom du livre</label>
                        <input class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-900 focus:ring-1 rounded-md"
                               id="name"
                               th:field="${book.title}"
                               th:if="${action == 'create'}"
                               type="text"
                        >
                        <!-- Edit -->
                        <input class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-900 focus:ring-1 rounded-md"
                               id="name"
                               th:field="${book.title}"
                               th:unless="${action == 'create'}"
                               type="text"
                        >
                    </div>

                    <!-- Book Synopsis -->
                    <div>
                        <label class="block mt-3 font-semibold" for="synopsis">Résumé du livre</label>
                        <!-- Create -->
                        <textarea
                                class="w-full border resize-none border px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-900 focus:ring-1 rounded-md"
                                id="synopsis"
                                th:field="${book.synopsis}"
                                th:if="${action == 'create'}"
                        >
                    </textarea>
                        <!-- Edit -->
                        <textarea
                                class="w-full border resize-none"
                                id="synopsis"
                                th:field="${book.synopsis}"
                                th:unless="${action == 'create'}"
                        >
                    </textarea>
                    </div>


                    <!-- Book Author -->
                    <div>
                        <label class="block mt-3 font-semibold">Auteur du livre</label>
                        <select class="select select-bordered w-full max-w-xs" id="auteur_id" th:field="${book.author}">
                            <option value=""></option>
                            <option th:each="auteur: ${authors}"
                                    th:value="${auteur.id}"
                                    th:text="${auteur.firstName + ' ' + auteur.lastName}"
                            ></option>
                        </select>
                    </div>
                    <div class="flex justify-between items-baseline">
                        <button
                                class="mt-4 bg-transparent border text-gray-800 py-2 px-6 rounded-md hover:bg-gray-900 hover:text-white uppercase"
                                type="reset">reset
                        </button>
                        <button
                                class="mt-4 bg-gray-800 text-white py-2 px-6 rounded-md hover:bg-gray-900 uppercase"
                                type="submit">valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

</body>
</html>
