<th:block th:include="/_partials/header.html"></th:block>

<h1 th:unless="${mode == 'suppression'}" class="text-center">Formulaire auteur</h1>
<h1 th:if="${mode == 'suppression'}" class="text-center">Confirmer la suppression du auteur suivant :</h1>
<h1 th:if="${mode == 'modification'}" class="text-center">Modifier un auteur</h1>


<form method="post" th:object="${auteur}">
    <div class="form-group">
        <label for="nom">Nom</label>

        <input th:if="${mode == 'suppression'}"  type="text" th:field="*{nom}" 
                id="nom" class="form-control" disabled >
        <input th:unless="${mode == 'suppression'}"  type="text" th:field="*{nom}" 
                id="nom" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="prenom">Prénom</label>

        <input th:if="${mode == 'suppression'}"  type="text" th:field="*{prenom}" 
                id="prenom" class="form-control" disabled >
        <input th:unless="${mode == 'suppression'}"  type="text" th:field="*{prenom}" 
                id="prenom" class="form-control" >
    </div>

    <div class="form-group">
        <label for="bio">Biographie</label>
        <textarea th:if="${mode == 'suppression'}" th:field="*{bio}" id="bio" disabled class="form-control"></textarea>
        <textarea th:unless="${mode == 'suppression'}" th:field="*{bio}" id="bio" class="form-control"></textarea>
    </div>

    <div class="d-flex mt-3 justify-content-between">
        <button th:unless="${mode == 'suppression'}" class="btn btn-primary">
            <i class="fa fa-save"></i> Enregistrer
        </button>
        <button th:if="${mode == 'suppression'}" class="btn btn-primary">
            <i class="fa fa-save"></i> Confirmer
        </button>

        <button type="reset" class="btn btn-warning">
            <i class="fa fa-eraser"></i> Effacer
        </button>

        <a href="/admin/auteurs" class="btn btn-danger">
            <i class="fa fa-reply"></i> Annuler
        </a>
    </div>
</form>


<th:block th:include="/_partials/footer.html"></th:block>