 <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 min-h-[calc(100dvh-68px)] flex items-center" th:fragment="section">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
            <div>
                <div class="max-w-lg md:max-w-none">
                    <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
                        BookManager
                    </h2>

                    <p class="mt-4 text-gray-700">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
                        architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
                        sequi.
                    </p>
                </div>
            </div>

            <div>
                <img
                        alt=""
                        class="rounded"
                        src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                />
            </div>
        </div>
    </div>